@model DocumentRepositoryApp.Models.LoginModel

<head>
    <title>
        Log in
    </title>
</head>

<body>
    <section id="loginForm">
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()

            <fieldset>
                <legend>Log in Form</legend>
                <ol>
                    <li>
                        @Html.LabelFor(i => i.Login)
                        <br>
                        @Html.TextBoxFor(i => i.Login)
                        <br>
                        @Html.ValidationMessageFor(i => i.Login)
                    </li>
                    <li>
                        @Html.LabelFor(i => i.Password)
                        <br>
                        @Html.PasswordFor(i => i.Password)
                        <br>
                        @Html.ValidationMessageFor(i => i.Password)
                    </li>
                </ol>
                <input type="submit" value="Log in" />
            </fieldset>

            @Html.ValidationSummary(true)
        }
    </section>
</body>